:root {
  --logo-top: 200px;
  --logo-left: 535px;
  --logo-width: 800px;
  --logo-height: 800px;
  --logo-scale-width: 1.1;
  --logo-scale-height: 1.1;
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
  display: block;
  position: absolute;
  top: var(--logo-top);
  left: var(--logo-left);
  width: var(--logo-width);
  height: var(--logo-height);
  transform-origin: top left;
  transform: scale(var(--logo-scale-width), var(--logo-scale-height));
}

#logo-cutout
{
  position: absolute;
  top: var(--logo-top);
  left: var(--logo-left);
  width: var(--logo-width);
  height: var(--logo-height);
  transform-origin: top left;
  transform: scale(var(--logo-scale-width), var(--logo-scale-height));
/*   background-image: url('assets/img/u-logo.svg');
  background-size: contain; */
}